\NumberedItem{\makebox[2.1cm][l]{\|Year_begin|/--\|Year_end|/}}
\textit{\|Title|/} \|#Comment|/(\|Comment|/)\|/Comment|/
\|#Unit|/
    \newline
    \|Unit|/
\|/Unit|/
\newline
\|Institution|/
\newline
~
\Gap
