\NumberedItem{\makebox[2.1cm][l]{\|Year_end|/--\|Month_end|/}}
\textit{\|Title|/ --- \href{\|URL_specialty|/}{\|Specialty|/}}
\|#URL_advisor|/
    \newline
    Advisor: \href{\|URL_advisor|/}{\|Advisor|/}
\|/URL_advisor|/
\newline
\href{\|URL_institution|/}{\|Institution|/}
\newline
~
\Gap
