\NumberedItem{\makebox[1.7cm][l]{\|Year|/--\|Month|/}}
\|#Type|/\textit{\|Type|/}, \|/Type|/\|Event|/
\newline
\|#Institution|/
    \|Institution|/
    \newline
\|/Institution|/
\|Location|/
\newline
~
\Gap
