\NumberedItem{\makebox[0.8cm][r]{[\|Number|/]}}
\href{\|URL|/}
{\|Title|/}
\newline
\|Authors|/
\newline
\textit{\|Journal|/}
\|#Volume|/
    \|Volume|/:
\|/Volume|/
\|Pages|/ (\|Year|/).
\|#Comment|/
    [\|Comment|/]
\|/Comment|/
\|#Citations|/
    [{\em{Citations:}} \|#GS_cites|/\|GS_cites|/ (Google)\|/GS_cites|/\|#WoS_cites|/, \|WoS_cites|/ (WoS)\|/WoS_cites|/\|#Sc_cites|/ \|Sc_cites|/ (Scopus)\|/Sc_cites|/ ]
\|/Citations|/
\newline
\Gap
~
\Gap

