\NumberedItem{\makebox[0.8cm][r]{[\|Number|/]}}
\href{\|URL|/}
{\|Title|/}
\newline
\|Authors|/
\newline
\textit{\|Journal|/}
\|#Volume|/
    \|Volume|/:
\|/Volume|/
\|Pages|/ (\|Year|/).
\|#Comment|/
    [\|Comment|/]
\|/Comment|/
\|#Citations|/
    \newline
    \hfill [{\em{Citations:}} \|#GS_cites|/\|GS_cites|/ (GS)\|/GS_cites|/\|#WoS_cites|/,
    \|WoS_cites|/ (WoS)\|/WoS_cites|/\|#Scopus_cites|/, \|Scopus_cites|/ (Scopus)\|/Scopus_cites|/
    \|#Altmetrics|/
        {\hspace*{1cm} \em{Altmetric score:}} \|#Alt_score|/ \|Alt_score|/\|/Alt_score|/
    \|/Altmetrics|/
    ]
\|/Citations|/
\newline
\Gap
~
\Gap

