\NumberedItem{\makebox[0.8cm][r]{[\|Number|/]}}
\href{\|URL|/}
{\|Title|/}
\|#Citations|/
    (Scopus citations: \|Citations|/)
\|/Citations|/
\newline
\|Authors|/
\newline
\textit{\|Journal|/}
\|#Volume|/
    \|Volume|/:
\|/Volume|/
\|Pages|/ (\|Year|/).
\|#Comment|/
    [\|Comment|/]
\|/Comment|/
\newline
\Gap
~
\Gap

