\newcommand{\CVAuthor}{\|CVAuthor|/}
\newcommand{\CVTitle}{\|CVTitle|/}
\newcommand{\CVNote}{Curriculum Vitae compiled on {\today}}
\newcommand{\CVWebpage}{\|CVWebpage|/}
\newcommand{\CVEmail}{\|CVEmail|/}
\newcommand{\CVTwitter}{\|CVTwitter|/}
\newcommand{\CVSkype}{\|CVSkype|/}
\newcommand{\CVPhoto}{./Data_files/\|CVPhoto|/}
\newcommand{\CVPublons}{\|CVPublons|/}
\newcommand{\CVOrcid}{\|CVOrcid|/}
\newcommand{\CVGoogleScholar}{\|CVGoogleScholar|/}
\newcommand{\CVUniversity}{\|CVUniversity|/}
\newcommand{\CVDepartment}{\|CVDepartment|/}
\newcommand{\CVTelephone}{\|CVTelephone|/}
\newcommand{\CVAddressOne}{\|CVAddressOne|/}
\newcommand{\CVAddressTwo}{\|CVAddressTwo|/}
\newcommand{\CVAddressThree}{\|CVAddressThree|/}
\newcommand{\CVAddressFour}{\|CVAddressFour|/}

% PDF settings and properties.
\hypersetup{pdftitle={\CVTitle}, pdfauthor={\CVAuthor}, pdfsubject={\CVWebpage}, pdfcreator={XeLaTeX}, pdfproducer={}, pdfkeywords={}, pdfagemode={}, bookmarks=true, unicode=true, bookmarksopen=true, pdfstartview=FitH, pdfpagelayout=OneColumn, pdfpagemode=UseOutlines, hidelinks, breaklinks}